body {
  height: 100vh;
  background-image: url(https://cdn.discordapp.com/attachments/729756053192966214/738523444802486282/Image_from_iOS.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  background-repeat: no-repeat;
height: 100vh;
width: 100vw;
}
.app{
    font-family: 'Hind Siliguri', sans-serif;
    color: white;
}

.header-container {
  width: 100vw;
  height: 15vh;
  background-color: rgb(252, 58, 9);
  opacity: 75%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: xx-large;
}
.img-logo {
  height: 100%;
  margin-left: 10px;
  border-radius: 50%;
}
.header-title {
  align-self: center;
}

.header-menu {
  margin-right: 20px;
}
input {
  border-radius: 5%;
  border-width: 0;
  height: 5vh;
  font-size: x-large;

}

.main-input {
  margin-right: 20px;
}
/* .main-button {

} */
.add-quote {
  margin-bottom: 40px;
  margin-top: 20px;
}
.quote {
  margin-top: 50px;
  font-size: xx-large;
  background-color: black;
  width: 60%;
  border-radius: 10%;
}
.delete-btn{
    margin-right: 10px;
}
